<div class="animated fadeIn fast">

    <button class="btn btn-primary" data-toggle="modal" data-target="#clienteModal">Registrar estudiante</button>

    <!-- Modal -->

    <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-white" id="exampleModalLabel">Registrar estudiante</h3>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>

                <div class="modal-body">
                    <form #formulario="ngForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label for="txtCodigo">Codigo</label>
                                <input type="text" class="form-control" id="txtCodigo" name="codigo" placeholder="Ingrese codigo" required="required" [(ngModel)]="estudianteData.codigo">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtNombre">Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Ingrese nombre" required="required" [(ngModel)]="estudianteData.nombre">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtApellido">Apellido</label>

                                <input type="text" class="form-control" id="txtApellido" name="apellido" placeholder="Ingrese apellido" required="required" [(ngModel)]="estudianteData.apellido">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="txtCedula">Cedula</label>

                                <input type="number" class="form-control" id="txtCedula" name="cedula" placeholder="Ingrese su cedula" required="required" [(ngModel)]="estudianteData.cedula">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtEdad">Edad</label>

                                <input type="number" class="form-control" id="txtEdad" name="edad" placeholder="Ingrese su edad" required="required" [(ngModel)]="estudianteData.edad">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="txtSemestre">Semestre</label>

                                <input type="number" class="form-control" id="txtSemestre" name="semestre" placeholder="Ingrese su semestre" required="required" [(ngModel)]="estudianteData.semestre">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer col-12">
                    <div class="col-4">
                        <button type="button" [disabled]="formulario.invalid" (click)="guardarEstudiante()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Buscar-->
    <div class="modal fade" id="clienteBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-white" id="exampleModalLabel">Registrar estudiante</h3>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>

                <div class="modal-body">
                    <form #formulario="ngForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label for="txtCodigo">Codigo</label>
                                <input type="text" class="form-control" id="txtCodigo" name="codigo" placeholder="Ingrese codigo" required="required" [(ngModel)]="estudianteData.codigo">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtNombre">Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Ingrese nombre" required="required" [(ngModel)]="estudianteData.nombre">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtApellido">Apellido</label>

                                <input type="text" class="form-control" id="txtApellido" name="apellido" placeholder="Ingrese apellido" required="required" [(ngModel)]="estudianteData.apellido">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="txtCedula">Cedula</label>

                                <input type="number" class="form-control" id="txtCedula" name="cedula" placeholder="Ingrese su cedula" required="required" [(ngModel)]="estudianteData.cedula">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtEdad">Edad</label>

                                <input type="number" class="form-control" id="txtEdad" name="edad" placeholder="Ingrese su edad" required="required" [(ngModel)]="estudianteData.edad">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="txtSemestre">Semestre</label>

                                <input type="number" class="form-control" id="txtSemestre" name="semestre" placeholder="Ingrese su semestre" required="required" [(ngModel)]="estudianteData.semestre">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer col-md-12">
                    <div class="col-4">
                        <button type="button" [disabled]="formulario.invalid && !this.helperService.isValidValue(estudianteData.id)" (click)="guardarEstudiante()" class="btn btn-primary" data-dismiss="modal">Modificar</button>
                    </div>
                    <div class="col-4">
                        <button type="button" [disabled]="!this.helperService.isValidValue(estudianteData.id)" (click)="eliminarEstudiante()" class=" btn btn-primary " data-dismiss="modal">Eliminar</button>
                    </div>
                    <div class="col-4 ">
                        <button type="button " class="btn btn-secondary " data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--  <div class="form-row">
        <div class="form-group col-md-3 ">
            <button type="button " class="btn btn-primary btn-lg " [disabled]="!this.helperService.isValidValue(estudianteData.codigo) " (click)="buscarEstudiante() ">Buscar</button>
        </div>
        <div class="form-group col-md-3 ">
            <button type="button " class="btn btn-primary btn-lg " [disabled]="formulario.invalid && !this.helperService.isValidValue(estudianteData.id) " (click)="guardarEstudiante() ">Modificar</button>
        </div>

        <div class="form-group col-md-3 ">
            <button type="button " class="btn btn-primary btn-lg " [disabled]="!this.helperService.isValidValue(estudianteData.id) " (click)="eliminarEstudiante() ">Eliminar</button>
        </div>
    </div> -->

    <div class="col-12 ">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Edad</th>
                    <th>Semestre</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let estudiante of estudiantes; index as i" (click)=" buscarEstudiante(estudiante.codigo)" data-toggle="modal" data-target="#clienteBuscar">
                    <th>{{ i + 1 }}</th>
                    <td>{{ estudiante.codigo }}</td>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.apellido }}</td>
                    <td>{{ estudiante.cedula }}</td>
                    <td>{{ estudiante.edad }}</td>
                    <td>{{ estudiante.semestre }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div id="mdlSample " class="modal fade " role="dialog " [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 1 } ">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title " style="color: white; ">
                    {{ helperService.modalTitle }}
                </h4>
            </div>

            <div class="modal-body ">
                {{ helperService.modalContent }}
            </div>

            <div class="modal-footer ">
                <button type="button " id="btnOK " class="btn btn-success " (click)="helperService.openModal(false) ">
                    <i class="fa fa-check fa-fw "></i>
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>