<div>
    <div class="container text-center p-5">
        <div class="row justify-content-center">
            <div class="card border-primary p-3" style="max-width: 50rem;">
                <img [src]="imgProfile" class="card-img-top" />
                <div class="card-header">
                    <h4>Bienvenidos</h4>
                </div>
                <div class="card-body text-primary">
                    <form formGroup="login" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" class="border-primary form-control" placeholder="Ingrese usuario" formControlName="string">
                            <small id="emailHelp" class="form-text text-muted" [hidden]="!this.login.get('email').invalid">Ingrese un usuario</small>

                        </div>
                        <div class="form-group">
                            <input type="password" class="border-primary form-control" placeholder="Ingrese contraseña" formControlName="password">
                        </div>
                        <button type="submit" [disabled]="!this.login.valid" class="btn btn-outline-primary">
                            <i class="fas fa-sign-in-alt"></i>
                            Ingresar
                        </button>
                    </form>
                </div>
                <a href="#" class="card-link">Recordar contraseña</a>
            </div>
        </div>
    </div>
</div>