<div class="container col-md-12">
    <div class="text-left" style="margin-top: 100px">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#clienteModal">
        Registrar cliente
      </button>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo Documento</th>
                        <th>Numero Documento</th>
                        <th>Ciudad Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of cliente; index as i">
                        <th>{{ i + 1 }}</th>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.tipo_documento }}</td>
                        <td>{{ cliente.numero_documento }}</td>
                        <td>{{ cliente.ciudadNacimiento }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nombre</span>
                        </div>
                        <input type="text" id="txtNombre" aria-label="First name" class="form-control">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Apellido</span>
                        </div>
                        <input type="text" id="txtApellido" aria-label="First name" class="form-control">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo Documento</span>
                        </div>

                        <select name="" id="comboTipo" class="form-control" formControlName="tipDoc">
                                <option value="0">-Seleccione-</option>
                                <option *ngFor="let tipDoc of cliente" value="{{tipDoc.id}}">
                                    {{tipDoc.nombre}}
                                </option>
                            </select>

                        <div class="input-group-prepend">
                            <span class="input-group-text">Numero documento</span>
                        </div>
                        <input type="number" id="txtNumDocumento" aria-label="First name" class="form-control">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Genero</span>
                        </div>

                        <select name="" id="comboTipo" class="form-control" formControlName="genero">
                                <option value="0">-Seleccione-</option>
                                <option *ngFor="let genero of cliente" value="{{genero.id}}">
                                    {{genero.nombre}}
                                </option>
                            </select>

                        <div class="input-group-prepend">
                            <span class="input-group-text">Codigo de validacion</span>
                        </div>
                        <input type="number" id="txtCodValidacion" aria-label="First name" class="form-control">


                    </div>
                    <div class="modal-footer col-md-12">
                        <button type="button" onclick="location.href='crear-seguimiento'" class="btn btn-primary col-md-6" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger col-md-6" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>